.movie-card{
    width: 300px;
    height: auto;
    margin: 2rem;
    border: 3px;
}

.image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 10px;
    width: 300px;
    height: auto;
  }